:root {
    --primary-clr: #5598fd;
}

;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 100px;
    padding: 50px;
    background: url(../assets/background/background.jpg);
    transition: background-image 0.5s ease;
    font-family: 'Poppins', sans-serif;
    background-image: url(../assets/images/background.jpg);
    background-position: center;
    background-size: cover;
}

img {
    width: 100%;
}

.wrapper {
    display: flex;
    width: 1200px;
    min-width: 900px;
    border-radius: 20px;
    overflow: hidden;
}

.sidebar {
    width: 30%;
    min-width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
    position: relative;
}

.search input {
    width: 100%;
    height: 40px;
    border: 1px solid #ced4da;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 5px;
    padding: 0 15px;
    font-size: 14px;
    color: #495057;
}

.search input:focus {
    outline: none;
    border: 1px solid var(--primary-clr);
}

.search button {
    min-width: 40px;
    height: 40px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--primary-clr);
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}

.search ul {
    list-style-type: none;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    top: 40px;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    padding-inline-start: 0;
    overflow-x: hidden;
}

.search ul li {
    padding: 10px 15px;
    /* Padding values corrected */
    border-bottom: 1px solid #f1f1f1;
    /* Border color corrected */
    cursor: pointer;
    text-transform: capitalize;
}

.search ul li:last-child {
    border-bottom: none;
}

.search ul li:hover {
    background-color: #fff;
    /* Hover background color corrected */
    scale: 1.01;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search ul li.active {
    scale: 1.01;
    background-color: #f1f1f1;
    /* Active background color corrected */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



.weather-icon {
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.weather-icon #icon {
    width: 80%;
    object-fit: cover;
}

.temperature #temp {
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
}

.temperature span {
    font-size: 40px;
    margin-top: 20px;
    display: block;
}

.temp_unit{
    margin-left: 3px;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: #000;
}

.condition-rain {
    font-size: 14px;
    text-transform: capitalize;
}

.condition-rain div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.condition-rain div i {
    width: 20px;
}

.desc{
    margin-top: 10px;
}

.location {
    font-size: 14px;
    gap: 10px;
    margin-top: 10px;
}

.main {
    width: 100%;
    min-width: 400px;
    padding: 28px 40px;
    position: relative;
    padding-bottom: 90px;
    background-color: #f6f6f8;
}

.main nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .options {
    display: flex;
    gap: 20px;
    align-items: center;
}

.options button {
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    color: #495057;
    cursor: pointer;
    text-transform: capitalize;
    width: 80px;
    height: 40px;
    border-radius: 10px;

}

.options button.active {
    color: #fff;
    background-color: #1a1a1a;
}

nav .units button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: #1a1a1a;
    background-color: #fff;
}

.units button.active {
    color: #fff;
    background-color: #1a1a1a;
}

.main .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.cards .card {
    width: 100px;
    height: 130px;
    border-radius: 20px;
    color: #1a1a1a;
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
    flex-direction: column;
    justify-content: space-between;
}

.card h2 {
    font-size: 15px;
    font-weight: 600;
}

.card .card-icon {
    width: 50%;
    margin: 0 auto;
}

.card .day-temp {
    font-size: 12px;
    justify-content: center;
}

.highlights {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    animation: fadeIn 0.5s;
}

.highlights .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: auto;
}

.highlights .heading {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    /* text-align: center; */
}

.highlights .status-card {
    width: 220px;
    height: 150px;
    border-radius: 20px;
    color: #1a1a1a;
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.status-card .card-heading {
    color: #c2c2c2;
    margin-bottom: 0;
}

.status-card .content p:first-child {
    text-align: center;
    font-size: 25px;
}

.status-card .content p:last-child {
    font-size: 14px;
    margin-top: -20px;
    text-align: left;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    animation: fadeIn 0.5s;
}

.popup-img{
    height: 300px;
}

.close {
    display: none;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}
